html{
	width:100%;
	height:100%;
	overflow-x:hidden;
}
body{
	padding: 3px;
	font-size: 12px;
}
b.highlight{
	color: #FF0000;
}
.panel{
	padding: 3px;
	width: 800px;
	height: 300px;
}
.layui-btn+.layui-btn{
	margin-left: 0;
}
.panel .layui-input, .panel .layui-textarea{
	width: 600px;
}
td[data-field="content"] .layui-table-cell{
	height: auto;
	text-overflow: none; 
	white-space: normal;
}