<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <th:block th:include="script :: headerFragment" th:with="title='公告列表'"/>
	</head>
	<body>
		<th:block th:include="index :: bodyFragment" />
		<table align="center" class="table">
			<thead>
				<tr>
					<th width="20%">标题</th>
					<th width="40%">摘要</th>
					<th width="10%">创建日期</th>
					<th width="10%">修改日期</th>
					<th width="20%">&nbsp;</th>
				</tr>
			</thead>
			<tbody id="list">
				
			</tbody>
			<script id="templateList" type="text/html">
				{{each $data item index}}
					<tr>
						<td>{{#item.title}}</td>
						<td>{{#item.content}}</td>
						<td>{{item.createDate}}</td>
						<td>{{item.modifyDate}}</td>
						<td>
							<button class="btn btn-default btn-sm btn-edit" _id="{{item.id}}">编辑</button>
							<button class="btn btn-default btn-sm btn-del" _id="{{item.id}}">删除</button>
						</td>
					</tr>
				{{/each}}
			</script>
		</table>
		
		<script type="text/javascript" th:src="@{/js/list.js}"></script>
	</body>
</html>